{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>successfully sent</title>
</head>
<body>
{%  include 'navbar.html'%}
{% include 'links.html'  %}


<!--<div class="alert alert-success d-flex align-items-center" role="alert">-->
<!--  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>-->
<!--  <div>-->
<!--    Response successfully received.We will contact you soon!!-->
<!--  </div>-->
<!--</div>-->

{% for messages in messages %}
<div class="alert alert-success d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
   {{messages}}
  </div>
</div>
{% endfor %}
</body>
</html>