# Default ignored files
/../../../../:PycharmProjects/smart_health/.idea/shelf/
/../../../../:PycharmProjects/smart_health/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../:PycharmProjects/smart_health/.idea/dataSources/
/../../../../:PycharmProjects/smart_health/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../:PycharmProjects/smart_health/.idea/httpRequests/
